.header {
  margin-bottom: var(--space-8);
}

.header__logo {
  width: 1.2em;
  height: 1.2em;
}

.header__title {
  font-size: var(--text-2xl);
  letter-spacing: 0.5px;
  margin-bottom: var(--space-2);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);

}

.header__subtitle {
  font-size: var(--text-base);
  opacity: .6;
  color: #94a3b8;
  text-align: center;
}